.hero {
    background-image: linear-gradient(
        rgba(20,20,20, .5), 
        rgba(20,20,20, .5)),url("/corporate-site/images/biz-3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero.is-fullheight .hero-body>.container, .hero.is-fullheight-with-navbar .hero-body>.container, .hero.is-halfheight .hero-body>.container {
    display: flex;
    flex-direction: column;
}

.hero-btn {
    align-self: center;
    margin: 1em 0;
}

.section .container p.section-subtitle {
    margin-bottom: 35px;
}

.second-section-container {
    padding-bottom: 100px;
}


.section .container .columns .column .image .img-in-column {
    border-radius: 5px;
}

.section .container .columns .column .icon {
    font-size: 2rem;
    padding: 1.5em;
}

.section .container .columns .column .services-text {
    padding-bottom: 2em;
}